# Cấu hình Turso Cloud Database (Nếu để trống sẽ dùng SQLite cục bộ)
TURSO_DB_URL=https://your-database-name.turso.io
TURSO_AUTH_TOKEN=your-turso-jwt-auth-token

# Cấu hình Django
SECRET_KEY=django-insecure-lh9+kdxol_(kvcoc0lt#8ro1ntq7x(9$x7v9x44nu)_oq5$5w-
DEBUG=True
